.NavBar{
  display: flex;
  align-items: center;
  background: rgba(40,44,52,1);
  justify-content: space-between;
  height: 13vh;
}


.elementsHead{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  font-size: 25px;
  padding: 30px;
}

.Listado{
  color: 
  rgb(173, 168, 168);
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.ListadoHijo{
  margin-right: 60px;
  text-decoration: none;
  color: rgb(201, 201, 201);
}

.ListadoHijo:hover{
 color: #fff;
 font-weight: bolder;
 transition: color 0.3s;
}

